# =========================
# Build / Compilation
# =========================
build/
out/
bin/
*.exe
*.o
*.obj
*.log

CMakeFiles/
CMakeCache.txt
cmake_install.cmake


docs/doxygen/html/
docs/doxygen/latex/
docs/doxygen/man/


.vscode/
.idea/
*.suo
*.user
*.code-workspace


.DS_Store
Thumbs.db
